@charset "utf-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
html, body main{
    font-family: Arial, sans-serif;
  }

html{
    margin: 0 128px 0 128px;
        max-width: 1980px;
}


/* header */
header{
    display: flex;
    justify-content: space-between;
}
.logo{
    margin: 30px 0 30px 40px;
}
.logo img:nth-child(2){
    width: 250px;
    height: 80px;
}
nav ul{
    margin-top: 40px;
    display: flex;
    justify-content: end;
}
nav ul li{
    list-style: none;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #4c4c4c;
}


/* main */
main{
    background-color: #4c4c4c;
}
main img{
    width: 100%;
    height: auto;
}

.main-image1 img{
    object-fit: contain;
    width: 100%;
}
.main-logo{
    position: absolute;
    top: 400px;
    left: 200px;
}
.main-logo img{
    width: 700px;
}
.app{
    position: absolute;
    top: 700px;
    left: 250px;
}
.app img{
    width: 240px;
}
.google{
    position: absolute;
    top: 700px;
    left: 550px;
}

/* section1 */
.content{
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.content div{
    width: 340px;
    margin: 0 100px;
    margin-top: 200px;
}
.content div:nth-child(4){
    margin-top: 100px;
}
.content img,h2{
    margin: 20px 0;
}
.btn{
    margin-top: 20px;
}

/* section3 */
.article{
    text-align: center;
    margin-top: 150px;
}
.article p{
    text-align: center;
}
.article div{
    margin: 20px 0;
}



/* info */
.factor{
    margin-top: 150px;
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #fff;
}
.factor div{
    margin: 0 20px;
}
.info{
    display: flex;
    width: 100%;
    margin-top: 150px;
}
.info article{
    width: 100%;
}
.info img{
    width: 900px;
}
.blog{
    padding: 100px;
}
.blog-text{
    display: flex;
}
.blog h3{
    text-align: left;
    padding: 20px 0;
}
.news{
    display: grid;
}
.news1{
    display: flex;
    padding: 50px 0;
}
.news1 img{
    width: 200px;
    height: 200px;
}
.news1-text{
    width: 30vw;
    text-align: left;
    line-height: 50px;
    margin: 20px 20px 0 20px;
    
}
.news2{
    display: flex;
    padding: 50px 0;
}
.news2 img{
    width: 200px;
    height: 200px;
}
.news2-text{
    width: 30vw;
    text-align: left;
    line-height: 50px;
    margin: 20px 20px 0 20px;
}



/* footer */

#footer{
    display: grid;
    height: 700px;
}
.footer-menu{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.footer-menu h2,p{
    text-align: left;
}
.footer-menu p{
    padding-bottom: 14px;
    color: #4c4c4c;
}
.copy{
    text-align: center;
    height: 0;
    align-items: center;
}
.footer-end{
    display: flex;
    justify-content: center;
}
.footer-end img{
    margin: 0 20px;
    width: 30px;
    height: 25px;
}
