html{
    /* background-color: #a2b1e5; */
    width: 100%;
    margin: 0 auto;
    scroll-behavior: smooth;
}

body{
    margin-top: 120px;
    width: 100%;
    padding: 0 4px;
    font-family: YakuHanJP_Noto, 'Outfit', Futura,'Noto Sans JP', Roboto, sans-serif;
}
.navbar{
    display: none;
}
h2{
    width: 100%;
    font-size: 2.5rem;
    padding: 5px 0; 
    color: #2862a9;
}
h3{
    width: 50%;
    font-size: 1rem;
    padding: 0 0 15px 0;
    align-items: center;
    color: #484848;
}
li{
    color: #484848;
}
a{
    text-decoration: none;
    color: #484848;
}
button{
    max-width: 200px;
}
p{
    color: #484848;
}
.wrapper{
    width: 500px;
}

button{
    margin: 30px 0;
    width: 70%;
    padding: 10px;
    background: linear-gradient(90deg, #72BBCA 0%, #2844A9 100%);
    color: #fff;
    text-align: left;
    border: none;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0;
    z-index: 99;
    opacity: 0.9;
}
header img{
    width: 10%;
    object-fit: cover;
    margin-left: 10px;
}
nav{
    height: 100%;
}
nav ul{
    display: flex;
    height: 100%;
    margin: auto 0;
    width: 100%;
}
header ul li{
    list-style: none;
    margin-left: 30px;
    padding-top: 45px;
    font-weight: bold;
}
.contactBG{
    background: linear-gradient(90deg, #72BBCA 0%, #2844A9 100%);
    text-align: center;
}
header a{
    height: 100%;
    padding: 0 10px;
    color: rgb(20, 20, 20);
    font-weight: bold;
    text-decoration: none;
}
#main{
    width: 100vw;
}
/* .main2::after{
    width: 500px;
    height: 500px;
    background-color: #484848;
    position: relative;
    z-index: 99;
} */
.mainvisuail{
    background-image: url(img/AdobeStock_298615644.jpeg);
    width: 80%;
    height:1000px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 0 0 auto;
    position: relative;
    opacity: 0.8;
}
.colorbg{
    background-color: #72BBCA;
    z-index: 99;
}
.viewmore{
    box-sizing: border-box;
    background: linear-gradient(90deg, #72BBCA 0%, #2844A9 100%);
    width: 100px;
    height: 50px;
    overflow: hidden;
    position: relative;
}
.viewmore a::before{
    color: #fff;
    padding: 20px auto 20px;
}
.viewmore span::after{
    content: ;
    position: absolute;
    width: 100px;
}
h1{
    font-size: 8rem;
    letter-spacing: 0.2rem;
    line-height: 1.4;
    width: 80%;
    position: absolute;
    top: 10%;
    left: -10%;
}
/* .mainvisual{
    background-image: url(img/AdobeStock_283341560\ 2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    margin: 0 0 0 auto;
} */

.main2{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
}
.maintext{
    padding: 250px 50px 0 100px;
    width: 100%;
}

.mainimg{
    display: flex;
    align-items: center;
    width: 100%;
    height: 800px;
    padding: 50px;
    position: relative;
}
.mainimg img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    position: absolute;
    top: 30%;
    left: 10%;
}
.ABOUTUS{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px; 
    height: 500px;
}
.ABOUTUS div{
    width: 50%;
    padding-right: 100px;
    height: 100%;
}
.ABOUTUS img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about{
    width: 50%;
    align-items: center;
    padding: 100px 0 0 50px ;
}
.PRODUCT{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    padding: 0 100px;
}
.product{
    width: 300px;
}
.PRODUCTimg{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}
.PRODUCTimg img{
    width: 50%;
    padding: 10px;
    height: auto;
}

.OURSERVICE{
    background-color: rgb(215, 235, 235);
    padding: 50px 100px 50px 100px;
    text-align: center;
}
.SERVICEimg{
    display: flex;
    align-items: center;
    width: 50%;
}
.SERVICEimg img{
    padding: 10px;
}
.RECRUIT{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.recruit{
    padding: 50px;
    width: 50%;
}
.NEWS{
    display: flex;
    margin-top: 100px;
}
footer{
    /* background-color: #e5e9ef; */
}
.footercontent{
    width: 100%;
}

.footerlogo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 50px 0;
    object-fit: cover;
}
.footerlogo img{
    width: 8%;
    height: 60%;
}
.footerlogo p{
    padding-left: 50px;
    width: 40%;
    align-items: center;
}
.footermenu{
    display: flex;
    justify-content: center;
    
}
.footermenu ul{
    margin: 0 30px 100px 30px;
}
.footermenu ul li{
    list-style: square;
}
.footermenu h3{
    width: 150px;
}
.footerend{
    display: flex;
    justify-content: space-between;
    height: 150px;
    align-items: center;
}
.content a{
    margin-left: 20px;
}
#CONTACTUS{
    display: flex;
    justify-content: center;
    background-color: rgb(215, 224, 235);
    width: 100%;
    height: 250px;
    padding: 50px 0;
}
.CONTACTUS h2,h3,p{
    width: 100%;
}
.TELL{
    display: flex;
    margin-left: 150px;
    width: 700px;
}
.TELL img{
    width: 20%;
    /* height: 50%; */
}
.TELL h2{
    margin-left: 40px;
    padding-top: 50px;
    width: 100%;
}
@media (max-width: 1000px) {
    header{
        margin-right: 0;
    }
    body{
        margin-top: 0;
        padding: 0 10px;
        }
    h2{
        font-size: 1.5rem;
        width: 100%;
    }
    p{
        /* max-width: 500px; */
    }
    .mainvisuail{
        width: 80%;
    }
    .mainvisuail h1{
        font-size: 6rem;
        margin-top: 150px;
        width: 100%;
    }
    nav ul{
        display: none;
    }
    .main2{
        display: grid;
        margin-top: 0;
    }
    .mainimg{
        width: 100%;
        height: 300px;
        object-fit: cover;
        padding: 0;
        margin-top: 0;  
    }
    .mainimg img{
        width: 80%;
    }
    .ABOUTUS{
        display: grid;
        text-align: center;
        width: 100%;
        height: auto;
    }
    .ABOUTUS div{
        width: 100%;
        
    }
    .about{
        text-align: center;
        /* width: 90%; */
        padding: 0;
    }
    .PRODUCT{
        width: 100%;
        display:flex;
        flex-direction: column-reverse;
        padding: 0;

    }
    .PRODUCT img{
        padding: 2px;
        width: 50%;
        
    }
    .OURSERVICE{
        margin-top: 50px;
        width: 100%;
        padding: 0;
    }
    .OURSERVICE div{
        width: 100%;
        display: grid;
    }
    .RECRUIT{
        display: grid;
        width: 100%;
        margin: 0;
    }
    .RECRUITimg{
        width: 80%;
    }
    .recruit{
        width: 100%;
    }
    .footermenu{
        display: none;
    }
    .footerlogo{
        height: 100px;
        text-align: left;
        justify-content: initial;
    }
    #CONTACTUS{
        display: grid;
        height: auto;
        padding: 0 0 20px 0;
        width: 100%;

    }
    .TELL{
        margin: 0;
    }
    .TELL img{
        margin-top: 10px;
        width: 50px;
        height: 50px;
    }
    .TELL h2{
        margin-left: 10px;
        padding-top:20px;
    }
    .footerend{
        display: grid;
        padding: 0;
        height: 100px;
        justify-content: initial;
        text-align: center;
    }
}
@media (max-width: 1000px) {
    header img{
        margin: 0;
        width: 120px;
    }
    #main{
        width: 100%;
    }
    .maintext{
        padding-top: 50px;
        text-align: center;
    }
    .PRODUCT{
        width: 100%;
        height: 1150px;
    }
    .footerlogo img{
        height: auto;
    }
    .product{
        width: 100%;
        padding: 50px;
        height: auto;
    }
    .ABOUTUS{
        width: auto;
        padding: 10px 0;
    }
    .ABOUTUS div{
        padding: 0;
    }
    .about{
        margin-top: 100px;
        text-align: center;
        padding: 50px;
        text-align: left;
    }
    .about p{
        max-width: none;
    }
    .CONTACTUS p{
        max-width: 500px;
    }
    .PRODUCTimg{
        width: 100%;
        min-width: 200px;
    }
    .footerlogo{
        justify-content: center;
    }
}
@media (max-width: 530px) {
    h2,h3{
        width: 100%;
    }
    .mainvisuail{
        background-image: url(img/AdobeStock_283341560\ 2.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
    }
    .mainvisuail h1{
        font-size: 4rem;
        margin-top: 150px;
        width: 100%;
    }
    .maintext{
        padding: 50px;
        font-size: 0.8rem;
        text-align: initial;
    }
    #CONTACTUS{
        justify-content: initial;
        width: 100%;
    }
    .CONTACTUS{
        width: 100%;
    }
    .PRODUCT{
        margin: 0;
        padding: 0;
        height: auto;
    }
    .PRODUCTimg{
        padding: 0;
        display: none;
    }
    .about h2{
        margin-top: 50px;
    }
    .footerlogo img{
        width: 20%;

        
    }
    .footerlogo p{
        width: 100%;
        font-size: 0.8rem;
        padding-left: 10px;
    }
    .TELL{
        width: 200px;
        
    }
    .TELL h2{
        font-size: 1rem;
    }
    .TELL img{
        text-align: center;
        height: auto;
    }
    .content a{
        margin: 0;
        font-size: 0.8rem;
    }
}
