/* ------header-------------------------------- */

html{
    background-color: rgb(20, 20, 20);
    color: aliceblue;
}
#header{
    margin-bottom: 100px;
}

nav{
    display: flex;
    justify-content: end;
    font-size: 2rem;
}
li{
    list-style: none;
    padding: 0 30px;
}
#mainvisual{
    text-align: center;
    background-color: aliceblue;
    margin-bottom: 100px;
}

/* ------menu-------------------------------- */
.menu{
    display: flex;
    margin-bottom: 100px;
}
.tonkotu{
    text-align: center;
}
.miso{
    text-align: center;
}
.shouyu{
    text-align: center;
}
.tonkotu img{
    width: 60%;
    background-color: aliceblue;
    border-radius: 30%;
}
.miso img{
    width: 60%;
    background-color: aliceblue;
    border-radius: 30%;
}
.shouyu img{
    width: 60%;
    background-color: aliceblue;
    border-radius: 30%;
}



/* ------SNS-------------------------------- */

#SNS{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 100px;
}







/* ------footer-------------------------------- */
footer ul{
    display: flex;
    justify-content: end;
}